<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>gerenciador</display-name>
	<welcome-file-list>
		<welcome-file>bem-vindo.html</welcome-file>
	</welcome-file-list>

	<!-- Aqui você pode mapear um servlet (forma antiga e tabalhosa, pois são 
		necessários 8 linhas de código); Atualmente estão sendo feitos por anotações 
		em 1 linha; Exemplo: @WebServlet("/ola") //incluido na classe mapeada. -->

	<servlet>
		<servlet-name>OiMundoServlet</servlet-name>
		<servlet-class>br.com.alura.gerenciador.servlet.OiMundoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OiMundoServlet</servlet-name>
		<url-pattern>/ola</url-pattern>
	</servlet-mapping>
	
	<!-- FILTRO - foram declarados aqui para ordenar a sequencia de "chamada" 
		na inicialização do aplicativo. 
		1º entra o MonitoramentoFilter
		2º entra a AutorizacaoFilter   
		3º vai para o ControladorFilter      
		-->
		
	<filter>
		<filter-name>MF</filter-name>
		<filter-class>br.com.alura.gerenciador.servlet.MonitoramentoFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MF</filter-name>
		<url-pattern>/entrada</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>AF</filter-name>
		<filter-class>br.com.alura.gerenciador.servlet.AutorizacaoFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AF</filter-name>
		<url-pattern>/entrada</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CF</filter-name>
		<filter-class>br.com.alura.gerenciador.servlet.ControladorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CF</filter-name>
		<url-pattern>/entrada</url-pattern>
	</filter-mapping>
	
	<!-- TIMEOUT da sessão: o Tomcat removerá o usuário em um período determinado.
		por padrão usa 30 minutos, mas podemos alterar o prazo conforme abaixo. -->

	<session-config>
		<!-- 10 min -->
		<session-timeout>10</session-timeout>
	</session-config>

</web-app>